*.py[cod]
*.o
*.d
*.map
*.bak
*.swp

# Eclipse Project Files
.cproject
.project
.pydevproject

# Packages
*.egg
*.egg-info
dist
build
eggs
.eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__
*.spec
wheelhouse

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
coverage.xml
cover
htmlcov

# Translations
*.mo

# ctags
tags

#PyCharm project files
.idea

# Visual Studio Code
.vscode

# Common virtualenv environment names
/venv*

.cache
.pytest_cache

src/libusb_package_2/_version.py
src/libusb_package_2/*.dylib
src/libusb_package_2/*.so
src/libusb_package_2/*.dll
src/libusb_package_2/*.lib

# pyocd config files
pyocd.yaml
pyocd_user.py


